<body>
    <h3>Los siguientes son los parámetros necesarios para el descargue de la plantilla:</h3>
    <br>
    <div>
        Fecha Inicial: &nbsp;&nbsp;<input type="date" [(ngModel)]="fechaIni"> &nbsp;&nbsp;
        Fecha Final: &nbsp;&nbsp;<input type="date" [(ngModel)]="fechaFin">
    </div>
    <table>
        <tr>
            <td id="td-label-select-module">
            <p>
                Seleccione el Módulo IpDial:
            </p>
            </td>
            <td id="td-select-module-ipdial">
                <select id="select-module-ipdial" [(ngModel)]="nombreIdDialCode">
                        <option *ngFor="let module of ipdialModules" [value]="module.name">      
                                {{module.name}}
                        </option>
                </select>
            </td>
        </tr>
    </table>
    
    <button (click)="crearOrden()">CREAR ORDEN</button>

    <h1>PREGUNTAR STATUS DE LA ORDEN</h1>

    ORDER_ID: <input type="text" [(ngModel)]="orderIdToGetStatus">

    <button (click)="solicitarStatusOrden()">SOLICITAR STATUS</button>

    <h1>DESCARGAR ARCHIVO DE LA ORDEN</h1>

    ORDER_ID: <input type="text" [(ngModel)]="downloadOrdenId">

    <button (click)="descargarArchivo()">DESCARGAR ARCHIVO</button>
    <br>
    <br>
    <br>

</body>
