<body>
    <table>
        <tr>
            <td id="td-label-select-module">
            <p>
                Seleccione la plantilla a descargar:
            </p>
            </td>
            <td id="td-select-module-ipdial">
                <select id="select-module-ipdial" [(ngModel)]="seleccionado"  (change)="imprimir(seleccionado)">
                        <option *ngFor="let plantilla of plantillas_filtradas" [value]="plantilla.name">      
                                {{plantilla.name}}
                        </option>
                </select>
            </td>
        </tr>
    </table>
    <br>
    <app-button-download-depurador-metlife></app-button-download-depurador-metlife>
</body>
