<body>
    <h1>Sign In</h1> 
    <nav><a routerLink="/home">prueba</a></nav>
    <div>
        <div>Login with Username/Password</div>
        <br>

        <div style="color:red; font-weight:bold" *ngIf="loginFailed">
              <div>Login wasn't successfull.</div>
        </div>

              <div>
                <label>Username</label>
                <input class="form-control" [(ngModel)]="userName" />
              </div>
              <div >
                     <label>Password</label>
                <input class="form-control" type="password" [(ngModel)]="password" />
              </div>
              <div id="login-buton">
                <button (click)="loginWithPassword()">
                  Login
                </button>
                <!-- <button class="btn btn-default" (click)="logout()">Logout</button> -->
              </div>
    </div>

    <div >
          <b>Username/Password:</b> max/geheim
    </div>

    <div>
            <!-- <p><b>access_token_expiration:</b> {{ access_token_expiration }}</p> -->
    </div>

    <div>
        <div><b>access_token:</b> {{ access_token }}</div>
        <div *ngIf="userProfile">
          <b>user profile:</b>
          <pre>{{ userProfile | json }}</pre>
        </div>
    </div>
</body>
<!-- <router-outlet></router-outlet> -->
