<body>
  <table>
    <tr>
        <td id="td-label-select-operation">
        <p id="label">
            Seleccione el Servicio:
        </p>
        </td>
        <td id="td-select-development">
            <select id="select-development" [(ngModel)]="seleccionado" (change)="navigateTo($any($event.target).value)">
                    <option *ngFor="let develop of develops_filtrados" [value]="develop.component_name">  
                            {{develop.name}}
                    </option>
            </select>
        </td>
    </tr>
  </table>
</body>
<!-- <router-outlet></router-outlet> -->
