<hr>
<h3>Los siguientes son los parámetros necesarios para el cargue de archivos:</h3>
<table>
    <tr>
        <td id="td-label-select-module">
        <p>
            Seleccione el Módulo IpDial:
        </p>
        </td>
        <td id="td-select-module-ipdial">
            <select id="select-module-ipdial" [(ngModel)]="seleccionado">
                    <option *ngFor="let module of ipdial_modules" [value]="module.name">      
                            {{module.name}}
                    </option>
            </select>
        </td>
    </tr>
</table>
<app-upload-files-depurador-metlife></app-upload-files-depurador-metlife>
