<body>
  <header>
    <!-- <img src="https://images.pexels.com/photos/9201864/pexels-photo-9201864.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="imagen" type="image/png"> -->
    <img src="../assets/sonrisa.png" alt="imagen" style="position: absolute; width: 6%; margin: 4px 0px 0px 4px;">
    <h1>Plataformas BI</h1>
  </header>
  <div id="div-principal">
    <app-operations></app-operations>
    <router-outlet></router-outlet>
  </div>
  <footer>Creado por TIC/BI, www.contentobps.com V-02</footer>
</body>