/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(../src/assets/fondo-principal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode:soft-light;
}
