/*Dise침o responsive design*/

body {
  background-color:#F3F1F5;
  margin: 0%
}

table {
    /*el text-align s칩lo funciona para los elementos
    inline, la etiqueta <center> est치 obsoleta, para tablas
    lo ideal es un margin: auto;*/
    margin:auto;
  }
  
  /*Labels que indican acci칩n a tomar por el user*/
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    /* background-color: #00a3a6 ; */
    color: #00a3a6;
    padding-inline: 50px;
    text-align: center;
  }
  
  
  /*Etiquetas (hijas) ubicadas dentro de los contenedores*/
  #select-operation {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    border: none; /*Estaba apareciendo un borde :( */
    border-radius: 7px;
    color: #00a3a6;
    cursor: pointer;
  }
