<body>
    <img src="../../assets/sonrisa.png" alt="imagen" style="position: absolute; width: 6%; margin: 0% 0% 0% 1%;">
    <table>
        <tr>
            <td>
                <p id="label">
                    Seleccione la Operación:
                </p>
            </td>
            <td>
                <select id="select-operation" [(ngModel)]="seleccionado" >
                    <option id="option-operation" *ngFor="let operation of operations" [value]="operation.id">      
                        {{operation.name}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <app-developments [id]="seleccionado" style="margin-right: 30px;"></app-developments>
</body>