<body style=" display: flex; justify-content: space-between;">
    <img src="../../assets/sonrisa.png" alt="imagen" style="position: absolute; width: 6%; margin: 30px 0px 0px 20px;">
    <table style="margin-left: 170px;">
        <tr>
            <td id="td-label-select-operation">
                <p >
                    Seleccione la Operación:
                </p>
            </td>
            <td id="td-select-operation">
                <select id="select-operation" [(ngModel)]="seleccionado" >
                    <option id="option-operation" *ngFor="let operation of operations" [value]="operation.id">      
                        {{operation.name}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <app-developments [id]="seleccionado" style="margin-right: 30px;"></app-developments>
</body>