<body>
    <table>
        <tr>
            <td id="td-label-select-module">
            <p>
                Seleccione el Módulo IpDial:
            </p>
            </td>
            <td id="td-select-module-ipdial">
                <select id="select-module-ipdial" [(ngModel)]="seleccionado">
                        <option *ngFor="let module of ipdial_modules" [value]="module.name">      
                                {{module.name}}
                        </option>
                </select>
            </td>
        </tr>
    </table>
    <!-- <div [(ngModel)]="seleccionado" [value]="fechaIni"></div> -->
    <!-- <app-button-download-tmo-metlife [fechaIni]="fechaIni" [fechaFin]="fechaFin" [moduloIpDial]="seleccionado"></app-button-download-tmo-metlife> -->

    
    <button (click)="crearOrden()">CREAR ORDEN</button>

    <h1>PREGUNTAR STATUS DE LA ORDEN</h1>

    ORDER_ID: <input type="text" [(ngModel)]="statusOrdenId">

    <button (click)="solicitarStatusOrden()">SOLICITAR STATUS</button>

    <h1>DESCARGAR ARCHIVO DE LA ORDEN</h1>

    ORDER_ID: <input type="text" [(ngModel)]="downloadOrdenId">

    <button (click)="descargarArchivo()">DESCARGAR ARCHIVO</button>
    <BR>
    <BR>
    <BR>



</body>
