<body>
    <table>
        <tr>
            <td id="td-label-select-module">
            <p>
                Seleccione el Módulo IpDial:
            </p>
            </td>
            <td id="td-select-module-ipdial">
                <select id="select-module-ipdial" [(ngModel)]="seleccionado">
                        <option *ngFor="let module of ipdial_modules" [value]="module.name">      
                                {{module.name}}
                        </option>
                </select>
            </td>
        </tr>
    </table>
    <!-- <div [(ngModel)]="seleccionado" [value]="fechaIni"></div> -->
    <app-button-download-tmo-metlife [fechaIni]="fechaIni" [fechaFin]="fechaFin" [moduloIpDial]="seleccionado"></app-button-download-tmo-metlife>
</body>